@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
     margin: 0; 
     padding: 0;
    box-sizing: border-box;
    font-family:Roboto;
    background:black;
}
body { 
    font: 13px Helvetica, 
    Arial; 
}
form { 
    padding: 3px; position: 
    fixed; bottom: 0; 
    width: 100%; 
    margin-bottom:5px;
    font-size: 16px;
}
form input { 
    border: 0;
     padding: 10px;
     margin-right: 0.5%;
     width:44%; 
     background:white; 
}
form button {
     width: 5%; 
     background:red;
     border: none; 
     padding: 10px; 
     margin-right:2%;
}
#messages { 
    list-style-type:
     none; margin: 0;
      padding: 0;
}
#messages li {
     padding: 5px 10px;
}
#messages li:nth-child(odd) {
     background:white;
}
#messages li:nth-child(even) {
    text-decoration: brown;
}
.flex-1,.flex-2{
    flex: 1 1 0px;
    flex-grow: 1;
}
.flex-container{
    display: flex;
    overflow-y: auto;
}
#send_bttn{
    display: none;
}
h1{
    color: white;
}
